@font-face {
    font-family: 'Audiowide';
    src: local('Audiowide'), url(../Font_Style/Audiowide.ttf) format('ttf');
}

.list{
    width: 22%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navStyle {
    position: relative;
    padding: 10px 0 5px;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Audiowide';
    font-size: 13px;
}

.navStyle:hover {
    color: red;
    transition: .9s;
}

.navStyle:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: rgba(255,255,255,0.9);
    -webkit-transition: transform 250ms;
    transition: transform 250ms;
}

.navStyle:hover:after {
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
}

.logo{
    height: 80px;
    width: 80px;
    margin: 10px;
}

.bottom_nav{
    z-index: 10px;
    bottom: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 10vh;
    min-height: 10vh;
    color: black
}

@media (max-width:1024px){

    .list{
        margin-left: 150px;
    }
    
}
  
@media screen and (max-width:768px){
    .logo{
        height: 100px;
        width: 100px;
        margin-left: -60px;
        margin-top: 40px;
    }
    .navStyle{
        margin: 7px;
    }
    .list{
        margin-top: 25px;
    }
}

@media screen and (max-width:414px){
    .logo{
        height: 70px;
        width: 70px;
        margin-left: -11px;
    }
    .navStyle{
        margin: 7px;
    }
    .list{
        margin-top: 170px;
        margin-left: -480px;
    }
}

@media screen and (max-width:414px){
    .logo{
        height: 70px;
        width: 70px;
        margin-left: -11px;
    }
    .navStyle{
        margin: 7px;
    }
    .list{
        margin-top: 170px;
        margin-left: -480px;
    }
}

@media screen and (max-width:411px){
    .logo{
        height: 80px;
        width: 80px;
        margin-left: -20px;
    }
    .navStyle{
        margin: 7px;
    }
    .list{
        margin-top: 200px;
        margin-left: -500px;
    }
}

@media screen and (max-width:375px){
    .logo{
        height: 70px;
        width: 70px;
        margin-left: -11px;
    }
    .navStyle{
        margin: 7px;
    }
    .list{
        margin-top: 170px;
        margin-left: -440px;
    }
}

@media screen and (max-width:320px){
    .logo{
        height: 70px;
        width: 70px;
        margin-left: -30px;
        margin-top: 10px;
    }
    .navStyle{
        margin: 4px;
        font-size: 10px;
    }
    .list{
        margin-top: 140px;
        margin-right: -10px;
    }
}